p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

table thead tr{
  display: table;
  width: 100%;
  table-layout: fixed;
}

table  tbody{
  display:block;
  max-height:600px;
  overflow:auto;//set tbody to auto
}

tbody::-webkit-scrollbar {
  display: none;
}

table{
   width:100%;
   table-layout: fixed;
   overflow-wrap: break-word;
}

/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 16pt;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 24pt;
}