p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


tbody::-webkit-scrollbar {
  display: none;
}

.sidebar li a {
font-size: 16px;
}

#menu .right {
    float: right;
}

#book-source {
  display: none;
}

#book-edit {
  display: none;
}

li.book-part {
  font-size: 1.3em;
  color: blue;
}

li.a[href="index.html" title="Electronic Data Entry Software Options for IEP Surveys"] {
  font-size: 2em;
}

.sidebar h1 {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 1.3em;
}

h1 {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 2.5rem; /* adjust the font size as needed */
  color: #333; /* adjust the color as needed */
}



<a id="book-source" href="https://github.com/jennybc/happy-git-with-r/blob/main/usage-existing-project-github-last.Rmd">View source <i class="fab fa-github" aria-hidden="true"></i></a>